
#mainNav{
    background-color: #97BC62;
}


.masthead {
    background-color:    #201E20;
;
}
#about{
    background-color: #201E20;
}
#latestVideo{
    text-decoration: none;
    color: #97BC62;
}
#noga{
    background-color: #97BC62;
}
.bg-primary{
    background-color: black;
}
.verz{

    font-family: 'Apple Chancery', cursive;
    font-size: 25px;
}
.text-secondary{
    color: black;
}
/*

<div style="background-color: #DDC3A5; width: 100px; height: 100px;"></div>
<div style="background-color: #201E20; width: 100px; height: 100px;"></div>
<div style="background-color: #E0A96D; width: 100px; height: 100px;"></div>
*/
